<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMapper">

    <insert id="save" parameterType="pd">
        insert into tbl_project(projectId,departmentId,departmentName)
        values (#{projectId},#{departmentId},#{departmentName})
    </insert>

    <select id="findById" parameterType="pd" resultType="pd">
        select
        departmentId, projectId, departmentName, createdAt
        from
        tbl_project
        where
        projectId=#{projectId}
    </select>

    <select id="find" parameterType="pd" resultType="pd">
        select
        departmentId, projectId, departmentName, createdAt
        from
        tbl_project
        where 1=1
        <if test="departmentName != '' and departmentName != null">
            AND departmentName=#{departmentName}
        </if>
        <if test="departmentId != 0">
            AND departmentId=#{departmentId}
        </if>
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        departmentId, projectId, departmentName, createdAt
        from
        tbl_project
    </select>

    <select id="list" parameterType="pd" resultType="pd">
        select
        departmentId, projectId, departmentName, createdAt
        from
        tbl_project
        WHERE 1=1
        <if test="list != null">
            AND projectId in
            <foreach item="item" index="index" collection="list"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>